@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: #1f2937; /* gray-800 */
  --color-primary: #2563eb; /* blue-600 */
  --color-secondary: #f3f4f6; /* gray-100 */
}
.dark {
  --color-bg: #1f2937; /* gray-800 */
  --color-text: #f9fafb; /* gray-50 */
  --color-primary: #60a5fa; /* blue-400 */
  --color-secondary: #374151; /* gray-700 */
}

/* @theme inline {
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
